In [143]:
# Code to read csv file into colaboratory:
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

In [144]:
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [145]:
#2.1 Get the file
downloaded = drive.CreateFile({'id':'1GOpbxiRSQbg9ESCt5ufiqkBRTa1H88h4'}) # replace the id with id of file you want to access
downloaded.GetContentFile('1807242.csv')

Importing all the libraries

In [146]:


import numpy as np
import pandas as pd
import datetime
import statistics
import seaborn as sns
from sklearn.model_selection import train_test_split


from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
import xgboost as xgb
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

In [147]:
#Importing the dataset
data=pd.read_csv('1807242.csv')
data.head(4)

  business_code cust_number  ...    invoice_id isOpen
0          U001   200769623  ...  1.929359e+09      0
1          U001   200769623  ...  1.929691e+09      0
2          U001   200353024  ...  1.929135e+09      0
3          U001   200744019  ...  1.929194e+09      0

[4 rows x 19 columns]

In [148]:
#dropping column with all null
data.dropna(axis=1,how="all", inplace=True)

data.head(5)

  business_code cust_number  ...    invoice_id isOpen
0          U001   200769623  ...  1.929359e+09      0
1          U001   200769623  ...  1.929691e+09      0
2          U001   200353024  ...  1.929135e+09      0
3          U001   200744019  ...  1.929194e+09      0
4          U001   200739941  ...  1.930330e+09      0

[5 rows x 18 columns]

In [149]:
#to find the amount of null data in each column
data.isna().sum()

business_code               0
cust_number                 0
name_customer               0
clear_date               3762
buisness_year               0
doc_id                      0
posting_date                0
document_create_date        0
document_create_date1       0
due_in_date                 0
invoice_currency            0
document type               0
posting_id                  0
total_open_amount           0
baseline_create_date        0
cust_payment_terms          0
invoice_id                  5
isOpen                      0
dtype: int64

In [150]:
#dropping the corelated columns
corr_matrix= data.corr().abs()
upper= corr_matrix.where(np.triu(np.ones(corr_matrix.shape), k=1).astype(np.bool))
to_drop= [column for column in upper.columns if any(upper[column]>0.95)]
data.drop(data[to_drop], axis=1)

      business_code cust_number  ... cust_payment_terms isOpen
0              U001   200769623  ...               NAH4      0
1              U001   200769623  ...               NAH4      0
2              U001   200353024  ...               NAM4      0
3              U001   200744019  ...               NAA8      0
4              U001   200739941  ...               NAA8      0
...             ...         ...  ...                ...    ...
49995          U001   200769623  ...               NAH4      1
49996          CA02   140106408  ...               CA10      1
49997          U001   200803720  ...               NAM2      1
49998          U001   100031704  ...               NAA8      1
49999          U001   200148860  ...               NAGD      1

[50000 rows x 13 columns]

In [151]:
data.nunique()

business_code                6
cust_number               1110
name_customer             4256
clear_date                 404
buisness_year                2
doc_id                   50000
posting_date               502
document_create_date       505
document_create_date1      504
due_in_date                541
invoice_currency             2
document type                2
posting_id                   1
total_open_amount        45141
baseline_create_date       506
cust_payment_terms          75
invoice_id               49995
isOpen                       2
dtype: int64

In [152]:
#dropping quasi constant column
data=data.drop(['posting_id'], axis = 1)
data=data.drop(['invoice_currency'], axis = 1)
data.shape

(50000, 16)

In [153]:
#for each business_code eixts a unique cus_number
data=data.drop(['business_code'], axis = 1)
data.shape

(50000, 15)

In [154]:
data.dtypes

cust_number               object
name_customer             object
clear_date                object
buisness_year              int64
doc_id                     int64
posting_date              object
document_create_date       int64
document_create_date1      int64
due_in_date                int64
document type             object
total_open_amount        float64
baseline_create_date       int64
cust_payment_terms        object
invoice_id               float64
isOpen                     int64
dtype: object

Conversion to datetime

In [155]:
data['due_in_date']= pd.to_datetime(data.due_in_date, format='%Y%m%d')
data.head()

  cust_number        name_customer  ...    invoice_id  isOpen
0   200769623      WAL-MAR systems  ...  1.929359e+09       0
1   200769623  WAL-MAR corporation  ...  1.929691e+09       0
2   200353024      DECA foundation  ...  1.929135e+09       0
3   200744019           TARG trust  ...  1.929194e+09       0
4   200739941                FOX    ...  1.930330e+09       0

[5 rows x 15 columns]

In [156]:
data['clear_date']= pd.to_datetime(data["clear_date"])

In [157]:
data['document_create_date1']= pd.to_datetime(data.document_create_date1, format='%Y%m%d')
data.head()

  cust_number        name_customer  ...    invoice_id  isOpen
0   200769623      WAL-MAR systems  ...  1.929359e+09       0
1   200769623  WAL-MAR corporation  ...  1.929691e+09       0
2   200353024      DECA foundation  ...  1.929135e+09       0
3   200744019           TARG trust  ...  1.929194e+09       0
4   200739941                FOX    ...  1.930330e+09       0

[5 rows x 15 columns]

In [158]:
#since posting date can provide better info
data['posting_date']= pd.to_datetime(data['posting_date'])
data.drop('document_create_date', axis=1, inplace=True)
#data.drop('document_create_date1', axis=1, inplace=True)
data.head()

  cust_number        name_customer  ...    invoice_id  isOpen
0   200769623      WAL-MAR systems  ...  1.929359e+09       0
1   200769623  WAL-MAR corporation  ...  1.929691e+09       0
2   200353024      DECA foundation  ...  1.929135e+09       0
3   200744019           TARG trust  ...  1.929194e+09       0
4   200739941                FOX    ...  1.930330e+09       0

[5 rows x 14 columns]

In [159]:

data.dtypes

cust_number                      object
name_customer                    object
clear_date               datetime64[ns]
buisness_year                     int64
doc_id                            int64
posting_date             datetime64[ns]
document_create_date1    datetime64[ns]
due_in_date              datetime64[ns]
document type                    object
total_open_amount               float64
baseline_create_date              int64
cust_payment_terms               object
invoice_id                      float64
isOpen                            int64
dtype: object

In [160]:
data=data.astype({"cust_number" : 'category'})
data.drop('name_customer', axis=1, inplace=True)
data.dtypes

cust_number                    category
clear_date               datetime64[ns]
buisness_year                     int64
doc_id                            int64
posting_date             datetime64[ns]
document_create_date1    datetime64[ns]
due_in_date              datetime64[ns]
document type                    object
total_open_amount               float64
baseline_create_date              int64
cust_payment_terms               object
invoice_id                      float64
isOpen                            int64
dtype: object

In [161]:
#converting clear_date to datetime format
data['clear_date']=pd.to_datetime(data['clear_date'])

In [162]:
#calculating delay
data['delay']=(data['clear_date']-data['due_in_date']).dt.days
data.head(20)

   cust_number clear_date  buisness_year  ...    invoice_id isOpen  delay
0    200769623 2019-04-06           2019  ...  1.929359e+09      0  -61.0
1    200769623 2019-08-13           2019  ...  1.929691e+09      0   -4.0
2    200353024 2019-12-04           2019  ...  1.929135e+09      0  240.0
3    200744019 2019-09-05           2019  ...  1.929194e+09      0  119.0
4    200739941 2020-01-15           2020  ...  1.930330e+09      0    1.0
5    200780383 2019-07-06           2019  ...  1.929076e+09      0   29.0
6    200729290 2019-12-12           2019  ...  1.930094e+09      0    0.0
7    200794332 2019-07-08           2019  ...  1.929652e+09      0  -31.0
8    200769623 2019-09-12           2019  ...  1.930200e+09      0  -91.0
9    200792734 2019-10-29           2019  ...  1.930009e+09      0    0.0
10   100036168 2019-12-16           2019  ...  1.930216e+09      0    2.0
11   200706844 2019-11-15           2019  ...  1.930067e+09      0    1.0
12   200712105 2020-02-28           2020  ...  1.930524e+09      0    0.0
13   200735528 2020-01-27           2020  ...  1.930365e+09      0    2.0
14   200769623 2019-07-05           2019  ...  1.929208e+09      0   56.0
15   200769623 2019-12-13           2019  ...  1.930194e+09      0    1.0
16   200779906 2019-06-06           2019  ...  1.929350e+09      0    1.0
17   200792734 2019-01-04           2019  ...  1.928987e+09      0  -88.0
18   200756072 2019-03-04           2019  ...  1.928920e+09      0  -24.0
19   200020431 2019-03-25           2019  ...  1.928996e+09      0   -1.0

[20 rows x 14 columns]

In [163]:
#converting the delay to int type
type(data['delay'])
data.dtypes

cust_number                    category
clear_date               datetime64[ns]
buisness_year                     int64
doc_id                            int64
posting_date             datetime64[ns]
document_create_date1    datetime64[ns]
due_in_date              datetime64[ns]
document type                    object
total_open_amount               float64
baseline_create_date              int64
cust_payment_terms               object
invoice_id                      float64
isOpen                            int64
delay                           float64
dtype: object

In [164]:
#dropping cust_number
data.drop('cust_number', axis=1, inplace=True)

In [165]:
#dropping cust_payment_terms
data.drop('cust_payment_terms', axis=1, inplace=True)

In [166]:
#dropping document_type
data.drop('document type', axis=1, inplace=True)

In [167]:
#dropping total_open_amount
data.drop('total_open_amount', axis=1, inplace=True)

In [168]:
#dropping posting date
data.drop('posting_date', axis=1, inplace=True)

Splitting the Dataset into Train set and test set on the basis of clear_date

In [169]:
X_train= data[data['clear_date'].notnull()]

X_test= data[data['clear_date'].isnull()]

In [170]:
X_train = X_train.sort_values(by='document_create_date1')

In [171]:
def correlation(dataset, threshold):
    col_corr = set()  # Set of all the names of correlated columns
    corr_matrix = dataset.corr()
    for i in range(len(corr_matrix.columns)):
        for j in range(i):
            if abs(corr_matrix.iloc[i, j]) > threshold: # we are interested in absolute coeff value
                colname = corr_matrix.columns[i]  # getting the name of column
                col_corr.add(colname)
    return col_corr

corr_features = correlation(X_train, 0.8)

print('correlated features: ', corr_features)

correlated features:  {'baseline_create_date', 'invoice_id'}

In [172]:
X_train.head(30)

      clear_date  buisness_year      doc_id  ...    invoice_id isOpen  delay
390   2019-12-27           2019  9500000065  ...           NaN      0  392.0
8256  2019-12-27           2019  9500000067  ...           NaN      0  378.0
15719 2019-01-15           2019  1928541234  ...  1.928541e+09      0    1.0
14672 2019-10-01           2019  1928539666  ...  1.928540e+09      0  260.0
6129  2019-09-01           2019  1928516217  ...  1.928516e+09      0  230.0
19370 2019-09-01           2019  1928538576  ...  1.928539e+09      0  230.0
34983 2019-11-01           2019  1928539722  ...  1.928540e+09      0  291.0
34944 2019-01-15           2019  1928539311  ...  1.928539e+09      0    1.0
21548 2019-09-01           2019  1928541355  ...  1.928541e+09      0  230.0
29520 2019-09-01           2019  1928537307  ...  1.928537e+09      0  230.0
29525 2019-01-18           2019  1928540982  ...  1.928541e+09      0    4.0
19052 2019-01-15           2019  1928538466  ...  1.928538e+09      0    1.0
4399  2019-01-14           2019  1928541220  ...  1.928541e+09      0    0.0
30022 2019-11-01           2019  1928542652  ...  1.928543e+09      0  291.0
8859  2019-09-01           2019  1928535906  ...  1.928536e+09      0  230.0
40696 2019-09-01           2019  1928534353  ...  1.928534e+09      0  230.0
44831 2019-10-01           2019  1928498999  ...  1.928499e+09      0  260.0
27951 2019-01-17           2019  1928533116  ...  1.928533e+09      0    3.0
19589 2019-01-14           2019  1928536722  ...  1.928537e+09      0    0.0
19642 2019-01-14           2019  1928541051  ...  1.928541e+09      0    0.0
14576 2019-11-01           2019  1928544316  ...  1.928544e+09      0  291.0
10408 2019-01-15           2019  1928541031  ...  1.928541e+09      0    1.0
2501  2019-09-01           2019  1928539492  ...  1.928539e+09      0  230.0
2431  2019-09-01           2019  1928540021  ...  1.928540e+09      0  230.0
26349 2019-09-01           2019  1928538483  ...  1.928538e+09      0  230.0
20129 2019-01-15           2019  1928538212  ...  1.928538e+09      0    1.0
41996 2019-10-01           2019  1928542614  ...  1.928543e+09      0  260.0
11057 2019-10-01           2019  1928543622  ...  1.928544e+09      0  260.0
14235 2019-09-01           2019  1928539935  ...  1.928540e+09      0  230.0
37631 2019-01-14           2019  1928541281  ...  1.928541e+09      0    0.0

[30 rows x 9 columns]

In [173]:
X_train.isna().sum()

clear_date               0
buisness_year            0
doc_id                   0
document_create_date1    0
due_in_date              0
baseline_create_date     0
invoice_id               5
isOpen                   0
delay                    0
dtype: int64

In [174]:
#Conversion of datetime objects as it can't be fed to model
X_train['clear_date']=pd.to_numeric(X_train['clear_date'])

In [175]:
X_train['due_in_date']=pd.to_numeric(X_train['due_in_date'])

In [176]:
X_train['document_create_date1']=pd.to_numeric(X_train['document_create_date1'])
X_train.dtypes

clear_date                 int64
buisness_year              int64
doc_id                     int64
document_create_date1      int64
due_in_date                int64
baseline_create_date       int64
invoice_id               float64
isOpen                     int64
delay                    float64
dtype: object

In [177]:
#dropping invoive_id
X_train.drop('invoice_id', axis=1, inplace=True)

In [178]:
X_test.drop('invoice_id', axis=1, inplace=True)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [179]:
#traget variable
y_train=X_train['delay']

In [180]:
X_train.drop('delay', axis=1, inplace=True)

In [181]:
y_train.shape

(46238,)

In [182]:
X_test.dtypes

clear_date               datetime64[ns]
buisness_year                     int64
doc_id                            int64
document_create_date1    datetime64[ns]
due_in_date              datetime64[ns]
baseline_create_date              int64
isOpen                            int64
delay                           float64
dtype: object

In [183]:
X_train.shape

(46238, 7)

In [184]:
#changing datetime objects in test set
X_test['clear_date']=pd.to_numeric(X_test['clear_date'])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [185]:
#converting to numeric because datetime object cannot be fed to model
X_test['document_create_date1']=pd.to_numeric(X_test['document_create_date1'])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [186]:
#converting to numeric because datetime object cannot be fed to model
X_test['due_in_date']=pd.to_numeric(X_test['due_in_date'])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [187]:
X_test.dtypes

clear_date                 int64
buisness_year              int64
doc_id                     int64
document_create_date1      int64
due_in_date                int64
baseline_create_date       int64
isOpen                     int64
delay                    float64
dtype: object

In [188]:
X_test.isna().sum()

clear_date                  0
buisness_year               0
doc_id                      0
document_create_date1       0
due_in_date                 0
baseline_create_date        0
isOpen                      0
delay                    3762
dtype: int64

Splitting the train set into 2 validation set

In [189]:
x_train, X_valid, y_train, y_valid = train_test_split(X_train, y_train, test_size= .20, shuffle=False, random_state=1)
X_valid1, X_valid2, y_valid1, y_valid2 = train_test_split(X_valid, y_valid, test_size=.50, shuffle=False, random_state=1)

In [190]:
# Defining Lists to Store in the Results and Names of Algorithms
MSE_Score = []
R2_Score = []
Algorithm = []

Using random forest regressor

In [191]:
# Fitting Random Forest Regressor Tree to the Training Set
Algorithm.append('Random Forest Regressor')
clf = RandomForestRegressor()
clf.fit(x_train, y_train)

# Predicting the Test Set Results
predicted = clf.predict(x_train)

In [192]:
# Appending the Scores For Visualisation at a Later Part
MSE_Score.append(mean_squared_error(y_train, predicted))
R2_Score.append(r2_score(y_train, predicted))

In [193]:
# Fitting Random Forest Regressor Tree to the Training Set
Algorithm.append('Random Forest Regressor')
clf = RandomForestRegressor()
clf.fit(x_train, y_train)

# Predicting the Test Set Results
predicted = clf.predict(X_valid1)

In [194]:
# Appending the Scores For Visualisation at a Later Part
MSE_Score.append(mean_squared_error(y_valid1, predicted))
R2_Score.append(r2_score(y_valid1, predicted))

In [195]:
# Fitting Random Forest Regressor Tree to the Training Set
Algorithm.append('Random Forest Regressor')
clf = RandomForestRegressor()
clf.fit(x_train, y_train)

# Predicting the Test Set Results
predicted = clf.predict(X_valid2)

In [196]:
# Appending the Scores For Visualisation at a Later Part
MSE_Score.append(mean_squared_error(y_valid2, predicted))
R2_Score.append(r2_score(y_valid2, predicted))

Linear regression

In [197]:
# Fitting Simple Linear Regression to the Training Set
Algorithm.append('Linear Regression')
clf = LinearRegression()
clf.fit(x_train, y_train)

# Predicting the Test Set Results
predicted = clf.predict(x_train)

In [198]:
# Appending the Scores For Visualisation at a Later Part
MSE_Score.append(mean_squared_error(y_train, predicted))
R2_Score.append(r2_score(y_train, predicted))

In [199]:
# Fitting Simple Linear Regression to the validation set1
Algorithm.append('Linear Regression')
clf = LinearRegression()
clf.fit(x_train, y_train)

# Predicting the Test Set Results
predicted = clf.predict(X_valid1)

In [200]:
# Appending the Scores For Visualisation at a Later Part
MSE_Score.append(mean_squared_error(y_valid1, predicted))
R2_Score.append(r2_score(y_valid1, predicted))

In [201]:
# Fitting Simple Linear Regression to the validation set1
Algorithm.append('Linear Regression')
clf = LinearRegression()
clf.fit(x_train, y_train)

# Predicting the Test Set Results
predicted = clf.predict(X_valid2)

In [202]:
# Appending the Scores For Visualisation at a Later Part
MSE_Score.append(mean_squared_error(y_valid2, predicted))
R2_Score.append(r2_score(y_valid2, predicted))

XGB regressor

In [203]:
# Fitting XGBoost Regressor to the Training Set
Algorithm.append('XGB Regressor')
clf = xgb.XGBRegressor()
clf.fit(x_train, y_train)

# Predicting the Test Set Results
predicted = clf.predict(x_train)

[06:58:17] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

In [204]:
# Appending the Scores For Visualisation at a Later Part
MSE_Score.append(mean_squared_error(y_train, predicted))
R2_Score.append(r2_score(y_train, predicted))

In [205]:
# Fitting XGBoost Regressor to the validation Set1
Algorithm.append('XGB Regressor')
clf = xgb.XGBRegressor()
clf.fit(x_train, y_train)

# Predicting the Test Set Results
predicted = clf.predict(X_valid1)

[06:58:19] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

In [206]:
# Appending the Scores For Visualisation at a Later Part
MSE_Score.append(mean_squared_error(y_valid1, predicted))
R2_Score.append(r2_score(y_valid1, predicted))

In [207]:
# Fitting XGBoost Regressor to the validation set2
Algorithm.append('XGB Regressor')
clf = xgb.XGBRegressor()
clf.fit(x_train, y_train)

# Predicting the Test Set Results
predicted = clf.predict(X_valid2)

[06:58:20] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

In [208]:
# Appending the Scores For Visualisation at a Later Part
MSE_Score.append(mean_squared_error(y_valid2, predicted))
R2_Score.append(r2_score(y_valid2, predicted))

In [209]:
# Just Combining the Lists into a DataFrame for a Better Visualisation
Comparison = pd.DataFrame(list(zip(Algorithm, MSE_Score, R2_Score)), columns = ['Algorithm', 'MSE_Score', 'R2_Score'])

In [210]:
# Score Card
Comparison

                 Algorithm     MSE_Score  R2_Score
0  Random Forest Regressor  1.766410e-01  0.999978
1  Random Forest Regressor  1.960155e+03  0.715431
2  Random Forest Regressor  1.558572e+04 -0.800691
3        Linear Regression  6.780987e-23  1.000000
4        Linear Regression  6.780960e-23  1.000000
5        Linear Regression  6.782144e-23  1.000000
6            XGB Regressor  2.449387e+01  0.996908
7            XGB Regressor  1.646220e+03  0.761007
8            XGB Regressor  1.256219e+04 -0.451369

Creating bucket

In [211]:
#making a list named as age_bucket
age_bucket=[]
for row in data['delay']:
        if row <= 15: age_bucket.append('0-15')
        elif row<=30: age_bucket.append('16-30')
        elif row <= 45: age_bucket.append('31-45')
        elif row <=60:  age_bucket.append('46-60')
         
        else:  age_bucket.append('More than 60 days')

data['age_bucket']= age_bucket

In [212]:
data.head(6)

  clear_date  buisness_year      doc_id  ... isOpen  delay         age_bucket
0 2019-04-06           2019  1929359463  ...      0  -61.0               0-15
1 2019-08-13           2019  1929690827  ...      0   -4.0               0-15
2 2019-12-04           2019  1929135118  ...      0  240.0  More than 60 days
3 2019-09-05           2019  1929194057  ...      0  119.0  More than 60 days
4 2020-01-15           2020  1930329674  ...      0    1.0               0-15
5 2019-07-06           2019  1929076457  ...      0   29.0              16-30

[6 rows x 10 columns]